@page "/access_token"
@inject Supabase.Client Supabase
@inject NavigationManager Navigation

<h3>Redefinir password...</h3>

@code {
    protected override async Task OnInitializedAsync()
    {
        // só redireciona pra página real
        Navigation.NavigateTo("/nova-password", true);
    }
}